@import "assets/style/variabless";
.services{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
}
.balance{
  display: flex;
  width: 100%;
  padding: 30px;
  background-color: $lightBlue;
  justify-content: space-between;
  .title{
    font-weight: 700;
  }
}
.card-content{
  height: 100%;
}

.contact-content{
  p{
    font-size: 18px;
    font-weight: 600;
  }
}
.price-content{
  display: flex;
  flex-direction: column;
  gap:30px;
}
.price-row{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 400;
  .text{
    background-color: $lightBlue;
    text-align: center;
    padding: 20px 0;
    &.price{
      width: 180px;
    }
    &.value{
      width: 230px;
    }
  }
}
